{% if include.product == "asx" %}
<div class="container">
    <div class="row">
        <h2>AudioStation X64 Features</h2>
        <h3>CPU:</h3>
        <ul>
            <li> Quad-core latest generation Intel i5 processor (upgradeable)</li>
            <li> 8GB RAM Memory (upgradeable)</li>
            <li> 1TB SATA 3 Hard disk, 7200 RPM (upgradeable)</li>
            <li> Dual layer DVD writer, with slot-loading mechanisms</li>
            <li> PS/2 connector for PS/2 keyboard and mouse (not included)</li>
            <li> Video connectors for hooking up 1 or 2 displays (not included):
                <ul>
                    <li> 1 D-Sub 15 for VGA monitor with resolution up to 1920x1200@60 Hz</li>
                    <li> 1 DVI-D for digital monitor with resolution up to 1920x1200 (DVI-D to VGA adapter not supported)</li>
                    <li> 1 HDMI for digital monitor with resolution up to 4096x2160@60 Hz (HDMI to DVI and HDMI to VGA adapters supported)</li>
                </ul>
            </li>
            <li> 6 USB connectors:
                <ul>
                    <li> 4 USB 3.0 type (USB 2.0 compatible)</li>
                    <li> 2 USB 2.0 type (USB 1.1 compatible)</li>
                </ul>
            </li>
            <li> RJ45 connector for Gigabit LAN.</li>
            <li>Wi-Fi adapter</li>
        </ul>
        <em> Optionals:
            <ul>
                <li>Quad-core Intel i7 CPU.</li>
                <li>16 GB or 32 GB RAM memory.</li>
                <li> main disk: 2TB HDD, 250GB, 500GB, 1TB, 2TB or higher SSD (must be factory installed)</li>
                <li> backup disk (can be used in case of fault of main hard disk): 1TB or 2TB HDD, 250GB, 500GB, 1TB, 2TB or higher SSD (must be factory installed)</li>
                <li>2 FireWire 400 ports.</li>
            </ul>
        </em>
        <h3> Audio/MIDI System:</h3>
        <ul>
            <li> 4 high quality microphone preamplifiers (in analog inputs 1-4), each one with:
                <ul>
                    <li> Adjustable gain over 60dB</li>
                    <li> Signal and clip LED</li>
                    <li> 48V Phantom power with activity LED</li>
                </ul>
            </li>
            <li> 8 analog inputs:
                <ul>
                    <li> Inputs #1-2 with combo connector XLR+TRS 6.3mm plugs</li>
                    <li> Inputs #3-4 with combo connector XLR+TS 6.3mm plugs</li>
                    <li> Inputs #5-8 with TS 6.3mm plugs</li>
                </ul>
            </li>
            <li> 8 analog outputs with 6.3mm TS plugs</li>
            <li> +4dBu/-10dBV signal level can be adjusted via software individually, for inputs and outputs</li>
            <li> Stereo digital coaxial S/PDIF input</li>
            <li> Stereo digital coaxial S/PDIF output</li>
            <li> Word Clock I/O for sample-accurate syncing of external digital audio devices</li>
            <li> 8 MIDI I/Os (2 I/Os on front panel and 6 I/Os in rear panel), 128 MIDI input channels and 128 MIDI output channels</li>
            <li> LiveControl safe connection plug</li>
        </ul>
        <h3> Live Control:</h3>
        <ul>
            <li> Alpha-numeric backlighted 2x20 characters display </li>
            <li> 10 encoders:
                <ul>
                    <li> 9 endless rotative</li>
                    <li> 1 endless rotative with push</li>
                </ul>
            </li>
            <li> 22 backlighted buttons</li>
            <li> Main unit safe connection plug</li>
        </ul>
    </div>
</div>
{% elsif include.product == "asm" %}
<div class="container">
    <div class="row">
        <h2>AudioStation MiNi Features</h2>
        <h3>CPU base configuration:</h3>
        <ul>
            <li> Quad-core latest generation Intel i3 processor (upgradeable)</li>
            <li> 8GB RAM Memory (upgradeable)</li>
            <li> 250GB SSD (upgradeable)</li>
            <li> Video connectors for hooking up 1 or 2 displays (not included):
                <ul>
                    <li> 1 DisplayPort for digital monitor with resolution up to 4096x2160@60 Hz (DisplayPort to DVI and DisplayPort to VGA adapters supported)</li>
                    <li> 1 HDMI for digital monitor with resolution up to 4096x2160@60 Hz (HDMI to DVI and HDMI to VGA adapters supported)</li>
                </ul>
            </li>
            <li> USB connectors:
                <ul>
                    <li> 4 USB 3.0 type (USB 2.0 compatible)</li>
                    <li> 2 USB 2.0 type (USB 1.1 compatible)</li>
                </ul>
            </li>
            <li> RJ45 connector for Gigabit LAN</li>
            <li>Dual band Wi-Fi</li>
            <li>Bluetooth 4.0</li>
        </ul>
        <em> Optionals:
            <ul>
                <li>Quad-core Intel i5 or i7 CPU</li>
                <li>16 GB RAM memory</li>
                <li> main disk: 500GB, 1TB, 2TB or higher SSD (must be factory installed)</li>
                <li> backup disk (can be used in case of fault of main hard disk): 250GB, 500GB, 1TB, 2TB or higher SSD (must be factory installed)</li>
            </ul>
        </em>
        <h3>Audio System Base Configuration</h3>
        <div class="row">
            <div class="col-md-6">
                <h3 class="hidden-sm hidden-xs">&nbsp;</h3>
                <img src="../images/spec_4x4aud.png" width="448" height="155" class=" center-block img-responsive">
            </div>
            <div class="col-md-6">
                <ul>
                    <li>2 x 6.3mm (1/4") TRS analog inputs, 24-bit/96 kHz, 102 dB SNR, configurable as
                        follows:
                        <ul>
                            <li>2 stereo/4 mono line inputs</li>
                            <li>1 mic input with 48V phantom power + 1 stereo/2 mono line inputs</li>
                            <li>1 Hi-Z instrument input + 1 stereo/2 mono inputs</li>
                            <li>1 mic input with 48V phantom power + 1 Hi-Z instrument input</li>
                        </ul>
                    </li>
                    <li>2 x 6.3mm (1/4") TRS analog stereo outputs, 24-bit/96 kHz, 108 dB SNR; can be
                        used as 4 mono outputs as well, or for connecting 1 or 2 headphones</li>
                    <li>1 x S/PDIF digital output, 96kHz-capable</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h3>Audio System Optional Configurations</h3>
            <div class="row">
                <div class="col-md-6">
                    <h3 class="hidden-sm hidden-xs">&nbsp;</h3>
                    <img src="../images/spec_8x8aud.png" width="448" height="144" class=" center-block img-responsive">
                </div>
                <div class="col-md-6">
                    <h4>Audio System Configuration #2</h4>
                    <ul>
                        <li>8 x 6.3mm (1/4") TRS balanced analog line inputs, 24-bit/192 kHz, 108 dB SNR (on
                            breakout cable)</li>
                        <li>8 x 6.3mm (1/4") TRS balanced analog line outputs, 24-bit/192 kHz, 113 dB SNR
                            (on breakout cable)</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3 class="hidden-sm hidden-xs">&nbsp;</h3>
                    <img src="../images/spec_2x2aud.png" width="448" height="160" class=" center-block img-responsive">
                </div>
                <div class="col-md-6">
                    <h4>Audio System Optional Configuration #3</h4>
                    <ul>
                        <li>2 x XLR balanced analog line inputs, 24-bit/96 kHz, 112 dB SNR (on breakout
                            cable)</li>
                        <li>2 x XLR balanced analog line outputs, 24-bit/96 kHz, 112 dB SNR (on breakout
                            cable)</li>
                        <li>1 x 6.3mm (1/4") TRS headphone stereo output</li>
                        <li>1 x ADAT digital I/O (up to 8 channels, up to 192 kHz via S/MUX4)</li>
                        <li>2 x XLR AES/EBU digital I/O, 192 kHz-capable (on breakout cable)</li>
                        <li>2 x RCA S/PDIF digital I/O, 192 kHz-capable (on breakout cable)</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- <h3 class="hidden-sm hidden-xs">&nbsp;</h3> -->
                    <img src="../images/spec_adat.png" width="448" height="158" class=" center-block img-responsive">
                </div>
                <div class="col-md-6">
                    <h4>Audio System Optional Configuration #4</h4>
                    <ul>
                        <li>3 x ADAT input (up to 24 channels, up to 96 kHz via S/MUX)</li>
                        <li>3 x ADAT output (up to 24 channels, up to 96 kHz via S/MUX)</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- <h3 class="hidden-sm hidden-xs">&nbsp;</h3> -->
                    <img src="../images/spec_madi.png" width="448" height="158" class=" center-block img-responsive">
                </div>
                <div class="col-md-6">
                    <h4>Audio System Optional Configuration #5</h4>
                    <ul>
                        <li>2 x MADI input (up to 128 channels, up to 384 kHz)</li>
                        <li>2 x MADI output (up to 128 channels, up to 384 kHz)</li>
                    </ul>
                </div>
            </div>
        </div>
        <h3> MIDI System</h3>
        <ul>
            <li> 3 MIDI I/Os (1 I/O on front panel and 2 I/Os in rear panel), 48 MIDI input channels and 48 MIDI output channels</li>
            <li> The 6 USB connectors can be used for USB-MIDI controllers</li>
            <li> LiveControl safe connection plug</li>
        </ul>
        <!-- <em> Soon-to-be available Optionals:
          <ul>
              <li>Audio system with 8 ins and 8 balanced outs, via breakout cable</li>
              <li>Audio system with 2 Ins / 2 Outs digital ADAT (16 I/O channels @ 24-bit/48KHz or 8 I/O channels @ 24-bit/96KHz) </li>
              <li>Audio system with 2 Ins / 2 Outs digital MADI (128 I/O channels @ 24-bit/192KHz) </li>
          </ul>
      </em> -->
        <h3> Live Control (optional):</h3>
        <ul>
            <li> Alpha-numeric backlighted 2x20 characters display </li>
            <li> 10 encoders:
                <ul>
                    <li> 9 endless rotative</li>
                    <li> 1 endless rotative with push</li>
                </ul>
            </li>
            <li> 22 backlighted buttons</li>
            <li> Main unit safe connection plug</li>
            <li>Connection cable length: 5m (10m with optional extension cord)</li>
        </ul>
    </div>
</div>
{% endif %}