{% if include.product == "asx" %}


<div class="container">
  <div class="row">
      <h2>What's included?</h2>
      <ul>
          <li> Main unit</li>
          <li> Rack-mounting adapters</li>
          <li> LiveControl remote controller</li>
          <li> LiveControl connection cable</li>
          <li> Wi-Fi Adapter</li>
          <li> Power cord</li>
      </ul>
  </div>
</div>



{% elsif include.product == "asm" %}


<div class="container">
  <div class="row">
      <h2>What's included?</h2>
      <ul>
          <li> Main unit</li>
          <li> Rack-mounting adapter</li>
          <li> Power supply</li>
          <li> 2 Wi-Fi/Bluetooth High-Efficiency Antennas</li>
      </ul>
  </div>
</div>


{% endif %}
