--- 
layout: asm
title: AudioStation AudioPlayer
section: audioplayer 
---
{% include _set_lang.html %}

    {% include as-{{ page.section }}/{{ lang }}/toc.html %}




<a name="digitalaudioplayerrecorder" class="anchor"></a>
<section >
  {% include as-{{ page.section }}/{{ lang }}/digitalaudioplayerrecorder.html %}
</section>


<a name="submixer" class="anchor"></a>
<section class="section-gradient">
  {% include as-{{ page.section }}/{{ lang }}/submixer.html %}
</section>


<a name="playbackrecording" class="anchor" id="playbackrecording"></a>
<section class="section-gradient">
  {% include as-{{ page.section }}/{{ lang }}/playbackrecording.html %}

</section>


<a name="selezionedellebasimusicali" class="anchor"></a>
<section class="section-gradient">
    {% include as-{{ page.section }}/{{ lang }}/selezionedellebasimusicali.html %}
</section>



<a name="signaturetemposongposition" class="anchor" id="signaturetemposongposition"></a>
<section class="section-gradient">
    {% include as-{{ page.section }}/{{ lang }}/signaturetemposongposition.html %}
</section>



<a name="audiomidiclick" class="anchor"></a>
<section class="section-gradient">  
    {% include as-{{ page.section }}/{{ lang }}/audiomidiclick.html %}
</section>
