--- 
layout: asm 
title: AudioStation VST Player  
section: vstplayer 
---
{% include _set_lang.html %}

    {% include as-{{ page.section }}/{{ lang }}/toc.html %}


<a name="vstplayer" class="anchor" id="vstplayer"></a>
<section>
    {% include as-{{ page.section }}/{{ lang }}/vstplayer.html %}
</section>

<a name="VSTplayernelmixer"></a>
<section class="section-gradient">
    {% include as-{{ page.section }}/{{ lang }}/vstplayernelmixer.html %}
</section>

<a name="quattropluginpercanale"></a>
<section class="section-gradient">
    {% include as-{{ page.section }}/{{ lang }}/quattropluginpercanale.html %}
</section>


<a name="protocollomidiesteso"></a>
<section class="section-gradient">
    {% include as-{{ page.section }}/{{ lang }}/protocollomidiesteso.html %}
</section>

<a name="totalecontrollovst"></a>
<section class="section-gradient">
    {% include as-{{ page.section }}/{{ lang }}/totalecontrollovst.html %}
</section>

<a name="superpatches"></a>
<section class="section-gradient">
    {% include as-{{ page.section }}/{{ lang }}/superpatches.html %}
</section>

<a name="syncintegrale"></a>
<section class="section-gradient">
    {% include as-{{ page.section }}/{{ lang }}/syncintegrale.html %}
</section>
