---
layout: asx
title: AudioStation Digital Mixer
section: digitalmixer
---
{% include _set_lang.html %}

    {% include as-{{ page.section }}/{{ lang }}/toc.html %}



<a class="anchor" id="ilmixerdigitale"></a>
<section>
  
  {% include as-{{ page.section }}/{{ lang }}/ilmixerdigitale.html %}
</section>

<a name="tipologiedicanali" class="anchor" id="tipologiedicanali"></a>
<section class="section-gradient">
  
 {% include as-{{ page.section }}/{{ lang }}/tipologiedicanali.html %}
</section>

<a class="anchor" id="configurazionedicanale"></a>
<section class="section-gradient">
  {% include as-{{ page.section }}/{{ lang }}/configurazionedicanale.html %}
</section>

<a class="anchor" id="altriimportantidispositivi"></a>
<section class="section-gradient">
  {% include as-{{ page.section }}/{{ lang }}/altriimportantidispositivi.html %}
</section>

<a name="patcheperformance" class="anchor" id="patcheperformance"></a>
<section class="section-gradient">
  {% include as-{{ page.section }}/{{ lang }}/patcheperformance.html %}
</section>

<a class="anchor" id="selezionedipatcheperformance"></a>
<section class="section-gradient">
  {% include as-{{ page.section }}/{{ lang }}/selezionedipatcheperformance.html %}
</section>

<a class="anchor" id="selezioneviamidi"></a>
<section class="section-gradient">
  {% include as-{{ page.section }}/{{ lang }}/selezioneviamidi.html %}
</section>
