---
layout: asx
title: AudioStation DAW
section: daw
---
{% include _set_lang.html %}

    {% include as-{{ page.section }}/{{ lang }}/toc.html %}


 <a name="dawperregistrazione" id="dawperregistrazione"></a>
<section>
  {% include as-{{ page.section }}/{{ lang }}/dawperregistrazione.html   product="asx" %}
</section>

<a name="connettivitaaudiomidi"></a>
<section class="section-gradient">
  {% include as-{{ page.section }}/{{ lang }}/connettivitaaudiomidi.html %}
</section>

<a name="micpreamp"></a>
<section class="section-gradient">
  {% include as-{{ page.section }}/{{ lang }}/micpreamp.html  product="asx" %}
</section>
