--- 
layout: asx 
title: AudioStation Live Control  
section: livecontrol 
---
{% include _set_lang.html %}

    {% include as-{{ page.section }}/{{ lang }}/toc.html %}



<a name="livecontrol"></a>
<section>
 {% include as-{{ page.section }}/{{ lang }}/livecontrol.html  %}  
</section>

<a name="operativitamixer"></a>
<section class="section-gradient">
 {% include as-{{ page.section }}/{{ lang }}/operativitamixer.html  %}  
</section>

<a name="feelinganalogico"></a>
<section class="section-gradient">
 {% include as-{{ page.section }}/{{ lang }}/feelinganalogico.html  %}  
</section>


<a name="solomute"></a>
<section class="section-gradient">
 {% include as-{{ page.section }}/{{ lang }}/solomute.html  %}  
</section>
<a name="lcselezionepatchperformance"></a>
<section class="section-gradient">
 {% include as-{{ page.section }}/{{ lang }}/lcselezionepatchperformance.html  %}  
</section>


<a name="pulsantitrasporto"></a>
<section class="section-gradient">
 {% include as-{{ page.section }}/{{ lang }}/pulsantitrasporto.html  %}  
</section>
<a name="controlloplugin"></a>
<section class="section-gradient">
 {% include as-{{ page.section }}/{{ lang }}/controlloplugin.html  %}  
</section>
<a name="midipanic"></a>
<section class="section-gradient">
 {% include as-{{ page.section }}/{{ lang }}/midipanic.html  %}  
</section>
<a name="fadeout"></a>
<section class="section-gradient">
 {% include as-{{ page.section }}/{{ lang }}/fadeout.html  %}  
</section>
<a name="modificasetup"></a>
<section class="section-gradient">
 {% include as-{{ page.section }}/{{ lang }}/modificasetup.html  %}  
</section>

