--- 
layout: asx 
title: AudioStation MIDI PatchBay 
section: midipatchbay 
---
{% include _set_lang.html %}
    {% include as-{{ page.section }}/{{ lang }}/toc.html %}
    


    <a name="patchbaymidi" class="anchor" id="patchbaymidi"></a>
    <section >
      {% include as-{{ page.section }}/{{ lang }}/patchbaymidi.html %}
        
    </section>

    <a name="globalmidirouting"></a>
    <section class="section-gradient">
      {% include as-{{ page.section }}/{{ lang }}/globalmidirouting.html %}
    </section>


    <a name="channelmidirouting"></a>
    <section class="section-gradient">
      {% include as-{{ page.section }}/{{ lang }}/channelmidirouting.html %}
    </section>
