--- 
layout: default 
title: Buy 
menu: buy
---

<style scoped>
    @import url('{{ site.baseurl }}/css/configurator.css')
</style>

<div class="container">
    <div class="row">
        <section>
            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-thumbs-up"></i>
                                </span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-wrench"></i>
                                </span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-info-sign"></i>
                                </span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab" title="Step 4">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-list-alt"></i>
                                </span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-send"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="mainform">
                    <div class="tab-content">
    
    
    
    
    
    
                        <div class="tab-pane active" role="tabpanel" id="step1">
                            <div class="h1 text-center">Choose Your Product</div>
                            <div class="btns-group products-section">
                                <div class="row  ">
                                    <div class="col-sm-6">
                                        <div class="panel-product">
                                            <h3 class="product-text"><a href="am-overview.html">AudioStation MiNi<br> Standard Configuration</a></h3> CPU i3 dual-core, 8GB RAM, 250GB SSD, System Maintenance standard version, integrated Wi-Fi and Bluetooth, 2 high efficiency antennas.
                                            <br class="hidden-xs">&nbsp;
                                            <h5 class="price-tag"> € {{ site.price-asm_std-eur }}.00 (VAT excluded)</h5>
                                            <div class="row text-center ">
                                                <button class="btn btn-primary btn-fixed-width btn-buy btn-product" value="{{ site.price-asm_std-eur }}" data-text="{{ site.text-asm_std }}">Buy</button>
                                                <button class="btn btn-primary btn-fixed-width btn-config  btn-product" value="{{ site.price-asm_std-eur }}" data-text="{{ site.text-asm_std }}" id="asm_std">Customize</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="panel-product">
                                            <h3 class="product-text"><a href="am-overview.html">AudioStation MiNi<br> Advanced Configuration</a></h3> CPU i3 quad-core, 8GB RAM, 2x250GB SSD (main unit + backup unit), System Maintenance advanced version with HDD cloning and synchronization of setups between HDDs, integrated Wi-Fi and Bluetooth, 2 high efficiency antennas.
                                            <h5 class="price-tag"> € {{ site.price-asm_adv-eur }}.00 (VAT excluded)</h5>
                                            <div class="row text-center ">
                                                <button class="btn btn-primary btn-fixed-width btn-buy btn-product" value="{{ site.price-asm_adv-eur }}" data-text="{{ site.text-asm_adv }}">Buy</button>
                                                <button class="btn btn-primary btn-fixed-width btn-config btn-product" value="{{ site.price-asm_adv-eur }}" data-text="{{ site.text-asm_adv }}" id="asm_adv">Customize</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- col -->
                                </div>
                                <!-- row -->
                                <div class="row ">
                                    <div class="col-sm-6">
                                        <div class="panel-product">
                                            <h3 class="product-text"><a href="as-overview.html">AudioStation X64<br> Standard Configuration</a></h3> CPU i5 quad-core, 8GB RAM, 250GB SSD, System Maintenance standard version, remote controller LiveControl with 5m cable, Wi-Fi adapter.
                                            <br class="hidden-xs">&nbsp;
                                            <h5 class="price-tag"> € {{ site.price-asx_std-eur }}.00 (VAT excluded)</h5>
                                            <div class="row text-center ">
                                                <button class="btn btn-primary btn-fixed-width btn-buy btn-product" value="{{ site.price-asx_std-eur }}" data-text="{{ site.text-asx_std }}">Buy</button>
                                                <button class="btn btn-primary btn-fixed-width btn-config btn-product" value="{{ site.price-asx_std-eur }}" data-text="{{ site.text-asx_std }}" id="asx_std">Customize</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="panel-product">
                                            <h3 class="product-text">
                                                <a href="as-overview.html">AudioStation X64<br> Advanced Configuration</a></h3> CPU i5 quad-core, 8GB RAM, 2x250GB SSD (main unit + backup unit), System Maintenance advanced version with HDD cloning and synchronization of setups between HDDs, remote controller LiveControl with 5m cable, WiFi adapter.
                                            <h5 class="price-tag"> € {{ site.price-asx_adv-eur }}.00 (VAT excluded)</h5>
                                            <div class="row text-center ">
                                                <button class="btn btn-primary btn-fixed-width btn-buy btn-product" value="{{ site.price-asx_adv-eur }}" data-text="{{ site.text-asx_adv }}">Buy</button>
                                                <button class="btn btn-primary btn-fixed-width btn-config btn-product" value="{{ site.price-asx_adv-eur }}" data-text="{{ site.text-asx_adv }}" id="asx_adv">Customize</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- col -->
                                </div>
                                <!-- row -->
                                <div class="row ">
                                    <div class="col-sm-6">
                                        <div class="panel-product">
                                            <h3 class="product-text">LiveControl<br> Remote Controller</h3> Remote controller for AudioStation X64 (supplied with the device) and AudioStation mini (optional). It includes a 5m connection cable.
                                            <h5 class="price-tag"> € {{ site.price-lc-eur }}.00 (VAT excluded)</h5>
                                            <div class="row text-center ">
                                                <button class="btn btn-primary btn-fixed-width btn-buy btn-product" value="{{ site.price-lc-eur }}" data-text="{{site.text-lc}}">Buy</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="panel-product">
                                            <h3 class="product-text" data-text="site.text-fc">AudioStation<br> Foot Controller</h3> Adds to AudioStation X64 and AudioStation MiNi up to 4 single foot switches or 2 double foot switches. It includes a 1.5m connection cable.
                                            <h5 class="price-tag"> € {{ site.price-fc-eur }}.00 (VAT excluded)</h5>
                                            <div class="row text-center ">
                                                <button class="btn btn-primary btn-fixed-width btn-buy btn-product" value="{{ site.price-fc-eur }}" data-text="{{site.text-fc}}">Buy</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- col -->
                                </div>
                                <!-- row -->
                                <div class="row "><p>&nbsp;</p></div>
    
                            </div>
                        </div>
    
    
    
    
    
    
                        <div class="tab-pane" role="tabpanel" id="step2">
                            <div class="h1 text-center">Customize Your Product</div>
    
                            {% for prod in site.data.prodotti %}
                            <div id="config_{{ prod.id_prod }}" class="configurator {{ prod.class }} {{ prod.id_prod }}" >
                                <div class="h2 text-primary text-center">{{ prod.title }}</div>
                                    
                                
                                <form class="row " id="config_form">
                                    
                                    {% for group in site.data.gruppi %}
                                    <div class="col-sm-6">
                                        <div class="h5 text-primary">{{ group.title }}</div>
                                        <div class="btn-group {{ group.id_gruppo }}" data-toggle="buttons">
                                        {% for item in site.data.opzioni %}
                                            {% if item.id_prod == prod.id_prod and item.id_gruppo == group.id_gruppo %}
                                            <label class="btn btn-default {% if item.is_default == "1" %} active {% endif %} {% if item.is_enabled == "0" %} disabled {% endif %}">
                                                <input type="radio" name="{{ item.id_gruppo }}" value="{{ item.price }}" data-size="{{ item.class }}" data-text="{{ item.text }}" autocomplete="off" {% if item.is_default == "1" %} checked {% endif %}>
                                                <div class="row  product-text" >
                                                    <div class="col-xs-6 text-left">{{ item.text }}&nbsp;&nbsp;</div>
                                                    <div class="col-xs-6 text-right"><span style="color:white;">&nbsp;</span>{% if item.price != "0" %} &euro; {{ item.price }}.00 (VAT excl.){% endif %}</div>
                                                </div>
                                            </label>
                                            {% endif %} 
                                        {% endfor %}
                                        </div>
                                    </div>
                                    {% endfor %}

                                    <div class="col-sm-6">
                                        <!-- aggiungiamo questo obbrobrio per ovviare a qualche schifezza introdotta con tutti gli override utilizzati per ottenere il form su due colonne e altre amenità -->
                                    </div>
                                </form>
    
                            </div>
                            {% endfor %}
    
                            <!-- FOOTER -->
                            <div class="row  product-text">
                                <div class="col-sm-6 text-center">
                                    <h3>
                                            Price: € <span id="total_holder"></span> (VAT excl.)
                                            <!-- <button class="btn btn-warning" id="compute">
                                                <span class="glyphicon glyphicon-refresh"></span>Refresh
                                            </button> -->
                                        </h3>
                                    <div class="h4">Shipping not included;
                                        <br class="visible-sm">delivers: 7-15 days</div>
                                </div>
                                <div class="col-sm-6 text-center">
                                    <p class="visible-sm hidden-xs">&nbsp;</p>
                                    <input type="hidden" name="body" id="ebody">
                                    <!-- <button class="btn btn-primary btn-lg btn-buy text-center" data-toggle="modal" data-target="#beforeBuyModal">BUY</button> -->
                                    <ul class="list-inline">
                                        <li>
                                            <button type="button" class="btn btn-default prev-step">Previous</button>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-buy btn-primary btn-fixed-width text-center next-step" id="form_submit">BUY</button>
                                        </li>
                                    </ul>
                                </div>
                                
                                <div class="col-sm-6">
                                        <!-- aggiungiamo questo obbrobrio per ovviare a qualche schifezza introdotta con tutti gli override utilizzati per ottenere il form su due colonne e altre amenità -->
                                </div>
                                <div class="over-spaced "></div>
                                

                                <div class="over-spaced ">
                                    <h5 class="text-primary ">(*) DISK SPACE</h5>
                                                                <p>1GB = 1 billion bytes and 1TB = 1 trillion bytes; actual formatted capacity less. 
                                    <br>
                                    The amount of free disk space on disk for the DAW environment can be computed as follows:
                                    <br>total hard disk capacity minus 30GB reserved for the System Maintenance environment.</p>
                                </div>

                                <div class="over-spaced "></div>
                            </div>
                        </div>
    
    
    
    
    
    
                        <div class="tab-pane" role="tabpanel" id="step3">
                            <h1 class="text-center">Read here before you buy</h1>
                            <h1 class="text-center">Terms and Conditions</h1>
                            <p>Clicking on PROCEED button, you will be asked information about invoicing, delivery address and payment mode, and you will get the preview of an email automatically generated with the features of the choosen product and your data: you can send it to us, so that we could reply with the total price, including shipping expenses and any discount if applicable</p>
                            <p>In case you haven't configured a default email, you can still copy the text and create an email manually.</p>
                            <h5 class="text-primary">PRICES</h5>
                            <p>Prices don't include VAT and delivery charges.</p>
                            <h5 class="text-primary">VAT</h5>
                            <p>VAT is not applied when buying from extra-EU countries. In such case, you could be liable to pay any inbound duties and taxes which your local customs authority deems appropriate.
                            <br> When buying from EU countries, the VAT rate for this kind of products under EU VAT law will be 22% as VAT is charged at the rate payable in the country where Seelake supplies such products, which is Italy.
                            <br> If the buyer is a business entity with a VAT registration (companies, taxable person, government agencies, etc.), the invoice total amount will not include VAT, that will be paid in the buyer's country if due.</p>
                            <h5 class="text-primary">SHIPMENT</h5>
                            <p>Shipping fees will be added according to the size and the weight of the chosen product and the delivery destination. </p>
                            <h5 class="text-primary">PAYMENT METHODS</h5>
                            <p>Payment can be made with bank transfer or PayPal.
                                <br> When using PayPal, the total amount could be increased (up to 5%) due to PayPal fees: the actual amount will be notified in the confirmation email, where you will also find further information for fulfilling the payment.</p>
                            <h5 class="text-primary">LAW AND JURISDICTION</h5>
                            <p>This notice will be governed by and construed in accordance with Italian law, and any disputes relating to this notice shall be subject to the exclusive jurisdiction of the courts of Italy.</p>

                            

<h2>Privacy disclaimer on art. 13 EU Regulation 2016/679 concerning the
processing of personal data - &quot;buy&quot; section”</h2>

<p >Dear User,</p>

<p >pursuant to art. 13 of the EU regulation 2016/679 and of the
Legislative Decree 196/2003 amended by Legislative Decree 101/2018, on the
protection of persons and other subjects with respect to the processing of
their personal data, the processing of information concerning you will be based
on principles of correctness, lawfulness and transparency and protecting your
privacy and your rights.</p>


<p >Pursuant to the above, we therefore provide the following
information.</p>

<ol   >
 <li >The personal data you provide to ART MUSIC SRL
     UNIPERSONALE, the controller, will be processed for the following purposes:
     </li>
 <li >Managing our purchase request for our products; </li>
 <li >The legal basis of the aforementioned purpose can be found
     in the art. 6.1. letters a, b, c, f of EU Regulation 2016/679. The
     explicit legislative references updated to their latest state of revision
     which provide for the obligations or obligations on the basis of which the
     processing of the personal data could possibly be carried out are
     available and can be consulted in the site's privacy policy and at the
     data controller and in any case are part of current EU law and the Member
     State to which the data controller is subject.</li>
 <li >The processing of your personal data will be carried out
     both through IT tools and in manual way by specially appointed subjects.
     The personal data will be stored in our digital and computer archives and
     in any case in the national or European territory. There are no personal data
     transfers to third countries or international organizations.</li>
 <li >As part of the treatments described above it is necessary
     to know and memorize all the essential personal data such as your name and
     surname, your residential address, your telephone number, your e-mail
     address, the country of residence, the complete shipping address (if
     different from the residential address), the VAT number and the tax code
     and the payment method. Any refusal to provide such data will result in
     the failure to execute your purchase request. </li>
 <li >The personal data will not be disclosed to third parties.</li>
 <li  >The personal data you provide may be communicated to other
 companies for the management of your request as reported in the privacy
 policies governing this website. If you want to know the complete list of
 companies to which your personal data may be communicated, you can send us
 a request by e-mail to <a
     href="mailto:info@artmusicgroup.com">info@artmusicgroup.com</a>.</li>
 <li >The data you provide will be processed
     and stored for the time necessary for the execution of the contract and
     the fulfillment of legal obligations.</li>
 <li >The controller is: ART MUSIC SRL UNIPERSONALE with
     registered office in Via Beato Angelico nr. 3   – 36061 Bassano del Grappa
     (VI). </li>
</ol>

<p >At any time you can exercise your rights
towards the controller pursuant to art. 15 and ss. of the EU Regulation
2016/679 including the rights of access, rectification and cancellation,
limitation of processing and opposition as well as the right to lodge a
complaint pursuant to art. 77 and judicial appeal pursuant to art. 78 by
contacting us via e-mail at <a
href="mailto:info@artmusicgroup.com">info@artmusicgroup.com</a>.</p>




<h2>Informativa art. 13 Regolamento UE 2016/679 relativa al trattamento di dati personali – sezione “Buy”</h2>

<p >Gentile Visitatore,</p>

<p >ai sensi dell’art. 13 del regolamento UE 2016/679 e del
D.lgs 196/2003 novellato dal D.lgs. 101/2018, sulla tutela delle persone e di
altri soggetti rispetto al trattamento dei loro dati personali, il trattamento
delle informazioni che La riguardano, sarà improntato ai principi di
correttezza, liceità e trasparenza e tutelando la Sua riservatezza e i Suoi
diritti.</p>


<p >Ai sensi di quanto sopra indicato, Le forniamo quindi le
seguenti informazioni.</p>

<ol   >
 <li >I dati da Lei forniti a ART MUSIC SRL UNIPERSONALE,
     titolare del trattamento, verranno trattati per le seguenti finalità: </li>
 <li >Gestire la sua richiesta di acquisto dei nostri prodotti; </li>
 <li >La base giuridica della predetta finalità si individua
     nell’art. 6.1. lettere a, b, c, f del Regolamento UE 2016/679. I
     riferimenti normativi espliciti aggiornati al loro ultimo stato di
     revisione che prevedono gli obblighi o gli adempimenti in base ai quali
     potrebbe essere eventualmente effettuato il trattamento dei dati sono
     disponibili e consultabili nelle privacy policy del sito e presso il
     titolare del trattamento e in ogni caso sono parte del vigente diritto
     dell'Unione nonché dello Stato membro cui è soggetto il titolare del
     trattamento.</li>
 <li >Il trattamento sarà effettuato sia attraverso strumenti
     informatici che in modo manuale ad opera di soggetti appositamente
     incaricati. I dati saranno conservati presso i nostri archivi digitali e
     informatici e comunque nel territorio nazionale o europeo. Non sono
     previsti trasferimenti di dati verso Paesi terzi od organizzazioni
     internazionali.</li>
 <li >Nell’ambito dei trattamenti sopra descritti è necessaria
     la conoscenza e la memorizzazione di tutti i dati indispensabili quali il
     suo nome e cognome, il suo indirizzo di residenza, il suo numero di
     telefono, l’indirizzo di posta elettronica, il Paese di residenza,
     l’indirizzo completo di spedizione (qualora diverso dall’indirizzo di
     residenza), la partita IVA e il codice fiscale e il metodo di pagamento. L'eventuale
     rifiuto a fornire tali dati comporta la mancata esecuzione della sua
     richiesta di acquisto. </li>
 <li >I dati non saranno oggetto di diffusione a terzi.</li>
</ol>

<ol   >
 <li  >I dati da lei
     forniti potranno essere oggetto di comunicazione a altre società per la
     gestione della sua richiesta e per l’espletamento degli obblighi di legge
     come riportato nelle privacy policy che regolamentano il presente sito
     internet. Qualora voglia conoscere l’elenco completo delle società cui i
     suoi dati potranno essere comunicati, può inviarci una richiesta tramite
     e-mail all’indirizzo <a href="mailto:info@artmusicgroup.com">info@artmusicgroup.com</a>.
     </li>
</ol>

<ol   >
 <li >I dati da lei forniti verranno trattati e conservati per
     il tempo necessario alla esecuzione del contratto e all’espletamento degli
     obblighi di legge.</li>
 <li >il titolare del trattamento è: ART MUSIC SRL UNIPERSONALE,
     con sede legale in Via Beato Angelico nr. 3   – 36061 Bassano del Grappa
     (VI). </li>
</ol>

<p >In ogni momento potrà esercitare i Suoi diritti nei
confronti del titolare del trattamento ai sensi dell’art. 15 e ss. del
Regolamento UE 2016/679 tra i quali i diritti di accesso, di rettifica e
cancellazione, di limitazione al trattamento e di opposizione nonché il diritto
di proporre reclamo ai sensi dell’art. 77 e di ricorso giurisdizionale ai sensi
dell’art. 78 contattandoci via e-mail all’indirizzo <a
href="mailto:info@artmusicgroup.com">info@artmusicgroup.com</a>.   </p>





                            
                            <ul class="list-inline pull-right">
                                <li>
                                    <button type="button" class="btn btn-default prev-step" id="read_here_prev">Previous</button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-primary btn-info-full next-step">Proceed</button>
                                </li>
                            </ul>
                        </div>
    
    
    
    
    
    
    
                        <div class="tab-pane form-shipping" role="tabpanel" id="step4">
                            <h1 class="text-center">Items shall be shipped to:</h1>
                            <div class="form-group row ">
                                <label for="shipping_company" class="col-sm-3 control-label">Shipping company</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="shipping_company" placeholder="Shipping company">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label for="shipping_name" class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="shipping_name" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label for="shipping_surname" class="col-sm-3 control-label">Surname</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="shipping_surname" placeholder="Surname">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label for="shipping_company" class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="shipping_email" placeholder="Shipping email">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label for="shipping_address" class="col-sm-3 control-label">Shipping Address</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="shipping_address" placeholder="Shipping address">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label for="shipping_zip" class="col-sm-3 control-label">Shipping ZIP</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="shipping_zip" placeholder="Shipping ZIP">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label for="shipping_city" class="col-sm-3 control-label">Shipping City</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="shipping_city" placeholder="Shipping city">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label for="shipping_country" class="col-sm-3 control-label">Shipping Country</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="shipping_country" placeholder="Shipping Country">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label for="shipping_phone" class="col-sm-3 control-label">Phone (with international code)</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="shipping_phone" placeholder="Phone">
                                </div>
                            </div>
                            
                            
                            <h1>Billing information:</h1>
                            <div class="row">
                                <div class="col-sm-3" style="padding-left: 16px">
                                    <button class="btn btn-primary copy-from-shipping">Same as shipping</button>
                                </div>
                            </div>

                             <p>&nbsp;</p>
    
    
                            <div class="form-group row ">
                                <label for="billing_company" class="col-sm-3 control-label">Billing company</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="billing_company" placeholder="Billing company">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label for="billing_name" class="col-sm-3 control-label">Billing reference</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="billing_reference" placeholder="Name of reference">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label for="billing_email" class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="billing_email" placeholder="Billing email">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label for="billing_address" class="col-sm-3 control-label">Billing Address</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="billing_address" placeholder="Billing address">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label for="billing_zip" class="col-sm-3 control-label">Billing ZIP</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="billing_zip" placeholder="Billing ZIP">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label for="billing_city" class="col-sm-3 control-label">Billing City</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="billing_city" placeholder="Billing city">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label for="billing_country" class="col-sm-3 control-label">Billing Country</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="billing_country" placeholder="Billing Country">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label for="vat" class="col-sm-3 control-label">VAT (for EU only)</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="billing_vat" placeholder="VAT (eg.: IT04708020238)">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label for="billing_phone" class="col-sm-3 control-label">Phone (with international code)</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="billing_phone" placeholder="Phone">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="optradio" class="col-sm-3 control-label">
                                        I choose to pay with:
                                    </label>
                                    <div class="col-sm-9">
                                        <label class="control-label radio-inline">
                                            <input type="radio" name="optradio" value="Bank transfer" checked>Bank transfer</label>
                                            <label class="control-label radio-inline">
                                            <input type="radio" name="optradio" value="Paypal">Paypal</label>
                                    </div>
                                </div>
                            </div>
                            <div class="space"></div>
                            <div class="form-group">
                                <div class="row">
                                    <input type="checkbox" name="newsletter" id="chk_newsletter">
                                    <label for="newsletter">I subscribe to the newsletter</label>
                                </div>
                                <div class="row">
                                    <input type="checkbox" name="acceptance" id="chk_acceptance">
                                    <label for="acceptance">I accept <a href="./privacypolicy.html" title="Privacy Policy">the Privacy Policy</a> and Terms and Conditions (please accept to proceed)</label>
                                </div>
                            </div>
                            <ul class="list-inline pull-right">
                                <li>
                                    <button type="button" class="btn btn-default prev-step">Previous</button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-primary next-step btn-shipping">Proceed</button>
                                </li>
                            </ul>
                        </div>
    
    
    
    
    
    
                        <div class="tab-pane" role="tabpanel" id="complete">
                            <h1 class="text-center">Summary</h1>
                            <div id="emailTextContent"></div>
                            <p>&nbsp;</p>
                        <ul class="list-inline pull-right">
                            <li>
                                <button type="button" class="btn btn-default prev-step">Previous</button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-primary btn-info-full launch-email">Launch email</button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-primary btn-info-full copy-email-text">Copy text</button>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            </div>
        </section>
    </div>
</div>

<script>
    var text_copied_ok = "Text copied! Please paste it in a new email, and send to ";
    var text_free_email = "Dear Seelake team\n\n\
I would like to order the following items and I am asking you a quotation including all shipping fees.\n\
_items_text_\n\
\n\
Items shall be shipped to:\n\
Company name: _shipping_company_\n\
Name: _shipping_name_\n\
Surname: _shipping_surname_\n\
Email: _shipping_email_\n\
Address: _shipping_address_\n\
ZIP code: _shipping_zip_\n\
City: _shipping_city_\n\
Country: _shipping_country_\n\
Phone: _shipping_phone_\n\
\n\
Invoice shall be addressed to:\n\
Company name: _billing_company_\n\
Reference name: _billing_reference_\n\
Email: _billing_email_\n\
Address: _billing_address_\n\
ZIP code: _billing_zip_\n\
City: _billing_city_\n\
Country: _billing_country_\n\
VAT code: _billing_vat_\n\
Phone: _billing_phone_\n\
\n\
I choose to pay with: _payment_mode_\n\
\n\
_Newsletter_\n\
I accept Seelake.com privacy policy and Terms and Conditions.\n\
\n\
Best regards\n\
"
</script>

<script type="text/javascript" src="{{ site.baseurl }}/scripts/configurator.js"></script>
<!-- {% include configurator.js.html %} -->
    
