<div class="container">
    <div class="row">
        <h2>Playback and Recording</h2>
        <div class="col-md-6">
            <p>Playback starts immediately and in perfect sync with Play button click. For simpler operations there is the AutoPlay function, that starts playback automatically as soon as the backing song is loaded in memory. If needed, playback can be looped too.</p>
        </div>
        <div class="col-md-6">
            <img src="../images/livecn_pulsantiditrasporto.png" width="245" height="84" class="img-responsive center-block">
        </div>
        <div class="col-sm-12">
            <p> Controlling songs playback live is really easy: actually, like detailed in its page, <a href="as-livecontrol.html#pulsantitrasporto">LiveControl</a> (the remote controller supplied with the device) features a group of dedicated buttons.</p>
            <p>Additionally, play and stop can be controlled via MIDI too.
                <br> On the other hand, recording is totally independent from the playback. For example, recording can be activated first and then, at the right time, playback can be started. Or otherwise the playback can be started first and then the recording. The AutoSave function can be used live, to simplify operations and automatically save recordings.</p>
        </div>
    </div>
</div>