<div class="container">
        <div class="row">
            <h2>Backing tracks selection</h2>
            <p>The channel patches of the console audio player channel store any information about the backing song to be played.</p>
            <p> Hence, to load in memory a song with LiveControl you simply select the audio player channel, and, as described in <a href="as-livecontrol.html">LiveControl</a> page, select the patch (in this case the song) by rotating the Data knob, and finally click on the knob to load the patch.</p>
            <div class="col-md-6">
                <img src="../images/audply_displaycambiobasemusicale.png" width="448" height="127" class="img-responsive center-block img-spaced">
            </div>
            <div class="col-md-6">
                <img src="../images/livecn_manopoladataepulsantinexteprev.png" width="233" height="127" class="img-responsive center-block img-spaced">
            </div>
            <p>Alternatively, you can use channel selection buttons to enter directly the song number, or browse the songs back and forth with Next (+) and Prev (-) buttons.</p>
            <p> While a song is playing you can choose another one and, at the right time, load it in memory simply with a click.
                <br> Another way to load a song in memory is to activate a performance (a scene of the whole console) whose settings include backing tracks. Then, during the performance, if needed and with no need to edit the active setup, you can play other songs afterwards. Thanks to the Integral Sync system, the console BPM (and therefore the BPM of plugins in use) will adapt from time to time to the BPM of the active song.</p>
            <p> Like explained in the <a href="as-digitalmixer.html">Digital Mixer</a> page, patches (in this case, songs) can also be selected via MIDI, other than with LiveControl.</p>
        </div>
    </div>
