<div class="container">
    <div class="row">
        <h2>Signature, Tempo, Song Position</h2>
        <p>Like read in <a href="as-vstplayer.html">VST Player </a>page, AudioStation includes ad adjustable Master tempo generator, that undertakes the sync between console, plugins and external MIDI devices. The same sync is also used by the audio player/recorder and to generate audio/MIDI click.</p>
        <div class="col-md-6">
            <img src="../images/audply_signature-tempo.png" width="94" height="111" class="pull-right center-block">
            In the dedicated display you can properly adjust Signature values, using either regular or irregular divisions, and Tempo, with values ranging from 0.1 to 240 BPM.
        </div>
        <div class="col-md-6">
            <img src="../images/audply_songposition.png" width="94" height="111" class="center-block  pull-right">
            Another display shows the reference to the location of the playhead and/or the recording head, in Time or Measure format.
            
        </div>
        <!-- <div class="col-sm-3">
            In the dedicated display you can properly adjust Signature values, using either regular or irregular divisions, and Tempo, with values ranging from 0.1 to 240 BPM.</div>
        <div class="col-sm-3">
            <p class="visible-xs">&nbsp;</p>
            <img src="../images/audply_signature-tempo.png" width="94" height="111" class="center-block img-spaced">
        </div>
        <div class="col-sm-3">Another display shows the reference to the location of the playhead and/or the recording head, in Time or Measure format.</div>
        <div class="col-sm-3">
            <p class="visible-xs">&nbsp;</p>
            <img src="../images/audply_songposition.png" width="94" height="111" class="center-block img-spaced">
        </div> -->
    </div>
</div>
