<div class="container">
    <div class="row">
        <h2>The Sub-Mixer</h2>
        <div class="col-md-6">
            <a href="../images/zoom/audply_digitalaudioplayersub-mixer_zoom.jpeg" data-rel="lightcase"><img src="../images/audply_digitalaudioplayersub-mixer.png" alt="" width="445" height="490" class="img-responsive center-block">
            </a>
        </div>
        <div class="col-md-6">
            An apposite sub-mixer is included to give more versatility in managing multitrack backing songs, with whom adjust, separately for each track:
            <ul>
                <li> Name</li>
                <li> Mute and solo</li>
                <li> Volume and panpot.</li>
                <li> Audio output</li>
            </ul>
            <p> The submixer thus allows to manage the mix of any backing track to fit your own needs.
                <br> For example, you can save many version of the same song, and use them according to the place, the type of performance or the band arrangement.
                <br> The assignable audio output allows to send the tracks to individual hardware outputs or to the mixing console channel dedicated to the digital audio player.
                <br> This way, one or more tracks can be sent for example to the drummer only or to the global mixing console (the Front Of House).
                <br> Sending tracks to the player channel permits to process songs with EQ and appropriate VST effects (limiter, compressor, reverb or even creative effects like filtesrs, bit reductors or the like). This option also allows to perform on the tracks mix the automatic fadeout like described in <a href="as-digitalmixer.html">Digital Mixer</a> and <a href="as-livecontrol.html">LiveControl</a> pages. </p>
        </div>
    </div>
  </div>
