<div class="container">
  <div id="toc" class="panel panel-default col-md-6 col-md-offset-6">
      <div class="panel-heading">Table of contents:</div>
      <ul>
          <li> <a href="#digitalaudioplayerrecorder">Digital Audio Player/Recorder</a></li>
          <li> <a href="#submixer">The submixer</a></li>
          <li> <a href="#playbackrecording">Playback and recording</a></li>
          <li> <a href="#selezionedellebasimusicali">Backing tracks selection</a></li>
          <li> <a href="#signaturetemposongposition">Signature, Tempo and Song Position</a></li>
          <li> <a href="#audiomidiclick">Audio and MIDI click</a></li>
      </ul>
  </div>
</div>