<div class="container">
      <div class="row">
          <h2>Global MIDI Routing</h2>
          <div class="col-md-6">
              <p>In Global MIDI Routing the connections are defined between MIDI inputs and outputs and mixer channels.</p>
              <p> When playing a software synthesizer activated in a mixer channel, the first step is to set a MIDI input for the channel for connecting a master keyboard.</p>
              <p>This also holds when performing other operations like changing setups with a foot controller, or adjusting in real-time the automated parameters of software instruments and effects, like for example the volume of a guitar amplifier simulator, the wah-wah sweep, tremolo speed, flanger depth, and other.</p>
              <p> In the same way, assigning MIDI outputs to a mixer channel is necessary to control external MIDI devices (synthesizers, sound generators, effect units, groove and drum machine, etc.).</p>
          </div>
          <div class="col-md-6">
              <a href="../images/zoom/mdptch_globalmidirouting_zoom.jpeg" data-rel="lightcase">
                  <img src="../images/mdptch_globalmidirouting.png" alt="Global MIDI routing" class="center-block img-responsive" height="392" width="445">
              </a>
          </div>
          <div class="col-sm-12">
            <p> Assignment of MIDI inputs and outputs to console channels is totally flexible, free and really easy: just select the channel and then click on the MIDI inputs and outputs to create the assignment.</p>
          </div>
          <div class="col-sm-12">
              <h3>Assignable MIDI I/O</h3>
              <p>In addition to the inputs and outputs MIDI hardware, there are assignable MIDI inputs and outputs, to which you can freely associate USB or Ethernet MIDI controllers connected to AudioStation.</p>
              <p>This way VST instruments and effects can also be controlled by USB Master Keyboards, DJ controllers, foot controllers and every other type of controller lacking MIDI plugs. And if needed you can even use additional MIDI interfaces.</p>
          </div>
          <div class="col-sm-12">
              <h3>MIDI Thru and MIDI Merge </h3>
              <p>Sometimes you might need to control instruments activated within a channel in the mixer from two or more MIDI inputs, or viceversa, to control from a single MIDI input instruments activated in two or more console channels, or even to use a MIDI input to control external devices connected to many MIDI outputs.</p>
              <p> The maximum flexibility is gained by giving everyone the option to assign MIDI inputs and outputs to mixer channels according to their individual needs. Special MIDI Thru and Merge functions allow you to smoothly reroute incoming MIDI data from any input to more console channels, from more MIDI inputs to a single channel, from more channels to a single MIDI output or from a single channel to more MIDI outs.
                  <br> For example, you can create &ldquo;Super Patches&rdquo; by connecting a MIDI input to more mixer channels with many software instruments, that play simultaneously (up to 3 per channel, for a total of 40).
              </p>
          </div>
          <div class="col-sm-12">
              <h3> A setup for every situation</h3>
              <p>Global MIDI settings are saved along with performances (console scenes). Hence, each performance benefits from different MIDI links, resulting in a different setup specific for each situation.</p>
              <p> This way an entire group of instruments (up to 40) can be loaded and kept in memory and the musician can choose time by time which instrument to use by simply varying global MIDI links.
                  <br>
              </p>
          </div>
          <div class="col-sm-12">
              <h3>Hanging notes</h3>
              <p>In a traditional patchbay, the so-called &ldquo;hanging notes&rdquo; or &ldquo;stuck notes&rdquo; effect (that can occur when setup changes with different MIDI settings while some notes are still playing) is avoided by automatically and indiscriminately stopping any MIDI note still playing.</p>
              <p>Global MIDI Routing on the AudioStation, however, features an innovative function, based on an advanced data analysis algorithm, that prevents the &ldquo;hanging note&rdquo; issue by stopping only the notes that actually need to be deactivated, while allowing all the other notes to continue to play.</p>
          </div>
      </div>
    </div>
