<div class="container">
  <div class="row">
      <h2>The MIDI patchbay</h2>
      <p>AudioStation is equipped with many MIDI inputs and outputs, and a powerful MIDI patchbay with advanced real-time data processing capabilities, to enable full control of software instruments and effects and of external MIDI devices.</p>
      <p> Every channel in the mixing console can be configured to receive and send MIDI data through one or more inputs/outputs. Hence any musician (and not only keyboardists!) can autonomously MIDI-control all devices and instruments activated in his channels.
          <br> For example, a guitarist with a standard MIDI foot controller can easily recall his setups or adjust parameters of software effects like wah-wah, chorus, delay and other.</p>
      <p> AudioStation features two levels of MIDI data processing: Global MIDI Routing for global settings of the console MIDI I/O; and MIDI Channel Routing for specific operations on MIDI data addressed to instruments and effects on each channel in the mixer.</p>
  </div>
</div>
