<div class="container">
    <div class="row">
        <h2>Audio e MIDI Click</h2>
        <div class="col-md-6">
            <p>La sezione Player/Recorder include un pratico generatore di click audio/MIDI, utilissimo per suonare a tempo con le basi musicali, ma anche con groove e sequenze generate da plug-in o da apprecchi MIDI esterni sincronizzati con AudioStation. Chiaramente, pu&ograve; essere utilizzato anche per registrare o, semplicemente, per suonare a tempo senza la base musicale.</p>
            <p>Click audio e MIDI possono operare contemporaneamente. In particolare: </p>
            <ul>
                <li> Il click audio &egrave; generato internamente alla pressione del tasto Play e pu&ograve; essere indirizzato liberamente ad una o pi&ugrave; uscite audio, anche assieme alla base musicale o ad altri segnali provenienti dalla console di missaggio.</li>
                <li> Il click MIDI, anch'esso prodotto alla pressione del tasto play, genera invece note MIDI da indirizzare ad un modulo sonoro esterno, su un&rsquo;uscita ed un canale MIDI scelti.</li>
            </ul>
            <p>Per entrambi i sistemi &egrave; possibile regolare distintamente l'altezza ed il volume del primo e dei successivi click della misura.</p>
            <p>Le informazioni relative all'utilizzo ed alle regolazioni del click vengono salvate nelle patch del canale dedicato al player e/o nelle performance (le scene dell'intera console). In questo modo ogni base musicale e/o ogni setup possono disporre delle regolazioni appropriate. </p>
        </div>
        <div class="col-md-6">
            <p class="hidden-xs">&nbsp;</p>
            <p class="">&nbsp;</p>
            <img src="../images/audply_audiomidiclick.png" width="251" height="240" class="img-responsive center-block">
        </div>
    </div>
</div>