
  <div class="container">
      <div class="row">
          <h2>Digital Audio Player/Recorder</h2>
          <div class="col-md-6">La console di missaggio incorpora anche un utilissimo e pratico player/recorder audio digitale con il quale, assieme all'uso di strumenti ed effetti software, riprodurre basi musicali (backing
              <br> tracks) stereo o multitraccia e registrare le performance.
              <br> Esso consente di:
              <ul>
                  <li> Riprodurre (anche in loop) groove o basi musicali senza limiti di lunghezza, con fino a 24 tracce mono o stereo, in formato MP3 e WAV a 16, 24 e 32 bit, con frequenza di campionamento fino a 96 KHz. Tracce Mp3 e Wav, anche con differenti frequenze di campionamento, possono essere riprodotte simultaneamente e in perfetto sync. Le tracce possono essere riprodotte in sync anche con groove o sequenze generate da plug-in attivati nella console, o da apparecchi MIDI esterni sincronizzati con AudioStation.</li>
                  <li> Regolare volume, panpot e mute di ogni traccia.</li>
                  <li> Indirizzare le tracce al canale stereo della console dedicato a player o a uscite audio indipendenti.</li>
                  <li> Applicare effetti VST e fadeout automatico al mix delle tracce.</li>
                  <li> Scegliere una base musicale mentre un'altra &egrave; in esecuzione.</li>
                  <li> Syncornizzare automaticamente il BPM degli effetti VST al BPM della base musicale.</li>
                  <li> Generare il click audio/MIDI appropriato per ogni base musicale.</li>
                  <li> Registrare in stereofonia il mix dei segnali audio in uscita dal canale Master, inclusa l'eventuale base musicale. </li>
              </ul>
          </div>
          <div class="col-md-6">
              <img src="../images/audply_audioplayer.png" width="343" height="405" class="img-responsive center-block">
          </div>
      </div>
  </div>
