<div class="container">
    <div class="row">
        <h2>Playback e Recording</h2>
        <div class="col-md-6">
            <p>L'avvio del playback &egrave; immediato ed avviene in perfetto sync con la pressione del tasto Play. Per semplificare le operazioni &egrave; possibile utilizzare la funzione AutoPlay, che avvia automaticamente il playback appena la base musicale viene caricata in memoria. Se necessario, &egrave; possibile attivare anche la riproduzione in loop.</p>
            <p>Controllare la riproduzione delle basi musicali dal vivo &egrave; davvero semplice. Infatti, come spiegato nel relativo capitolo, <a href="as-livecontrol.html#pulsantitrasporto">LiveControl</a> (il remote controller fornito con l&rsquo;apparecchio) &egrave; equipaggiato con un gruppo di pulsanti dedicati.</p>
            <p>In aggiunta, play e stop possono essere controllati anche via MIDI.</p>
            <p>La registrazione &egrave; invece totalmente indipendente dal playback. Ad esempio, &egrave; possibile attivare la registrazione e poi, al momento opportuno avviare il playback. Oppure, avviare il playback e poi attivare la registrazione quando necessario. Dal vivo, per semplificare le operazioni e salvare le registrazioni automaticamente, &egrave; possibile utilizzare la funzione AutoSave.</p>
        </div>
        <div class="col-md-6">
            <p class="hidden-xs">&nbsp;</p>
            <p class="hidden-xs">&nbsp;</p>
            <p class="hidden-xs">&nbsp;</p>
            <img src="../images/livecn_pulsantiditrasporto.png" width="245" height="84" class="img-responsive center-block">
        </div>
    </div>
</div>