<div class="container">
    <div class="row">
        <h2>Selezione delle basi musicali</h2>
        <p>Le indicazioni relative alla base musicale da riprodurre vengono memorizzate nelle patch del canale della console dedicato al player audio.</p>
        <p>Quindi, per caricare in memoria una base musicale con LiveControl &egrave; sufficiente selezionare il canale dedicato al player audio e, come gi&agrave; descritto nella pagina <a href="as-livecontrol.html#selezionepatchperformance">LiveControl</a>, girare la manopola Data per scegliere la patch da caricare (in questo caso la base musicale), quindi fare click sulla manopola stessa per caricarla in memoria.</p>
        <div class="col-md-6">
            <img src="../images/audply_displaycambiobasemusicale.png" width="448" height="127" class="img-responsive center-block">
        </div>
        <div class="col-md-6">
            <img src="../images/livecn_manopoladataepulsantinexteprev.png" width="233" height="127" class="img-responsive center-block">
        </div>
        <p>In alternativa, &egrave; possibile utilizzare i pulsanti di selezione dei canali per digitare direttamente il numero della base musicale desiderata,oppure selezionare la base musicale successiva o precedente con gli apposti pulsanti Next (+) e Prev (-).</p>
        <p>Mentre una base musicale &egrave; in riproduzione &egrave; possibile scegliere una seconda base e, al momento opportuno, caricarla in memoria con un semplice click.</p>
        <p>Una base musicale pu&ograve; essere caricata in memoria anche attivando una performance (una scena dell'intera console) che prevede l'utilizzo di backing tracks. Poi durante l&rsquo;esecuzione, se necessario e senza modificare il setup attivo, &egrave; possibile far seguire alla base musicale iniziale altre basi a scelta. Grazie al sistema di Sync Integrale, il BPM della console (e di conseguenza dei plug-in utilizzati) si conformer&agrave; di volta in volta al BPM della base musicale attivata.</p>
        <p>Come spiegato nella pagina <a href="as-digitalmixer.html#patcheperformance">Digital Mixer</a>, oltre che con LiveControl, le patch (in questo caso le basi musicali) possono essere selezionale anche via MIDI. </p>
    </div>
</div>