<div class="container">
  <div class="row">
      <h2>Signature, Tempo, Song Position</h2>
      <p>Come descritto nella pagina <a href="as-vstplayer.html#syncintegrale">VST Player</a>, &egrave; presente un generatore regolabile di master di tempo, che garantisce il sync fra la consolle, i plug-in e gli apparecchi MIDI esterni. Lo stesso sync &egrave; utilizzato anche dal player/recorder audio e per generare il click audio/MIDI.</p>
      <p class="">&nbsp;</p>
      <div class="col-sm-3">
          Nell&rsquo;apposito display &egrave; possibile regolare opportunamente i valori di Signature, sia con &nbsp;suddivisioniregolari sia irregolari, e Tempo, con qualsiasi velocit&agrave; da 0.1 a 240 BPM.
      </div>
      <div class="col-sm-3">
          <p class="visible-xs">&nbsp;</p>
          <img src="../images/audply_signature-tempo.png" width="94" height="111" class="center-block">
      </div>
      <div class="col-sm-3">Un secondo display visualizza la posizione temporale raggiunta dalla riproduzione e/o dalla
          <br> registrazione, con indicazione in formato Time o Measure. </div>
      <div class="col-sm-3">
          <p class="visible-xs">&nbsp;</p>
          <img src="../images/audply_songposition.png" width="94" height="111" class="center-block">
      </div>
  </div>
</div>