<div class="container">
      <div class="row">
          <div class="col-md-6">
              <p class="hidden-xs">&nbsp;</p>
              <a href="../images/zoom/audply_digitalaudioplayersub-mixer_zoom.jpeg" data-rel="lightcase">
                  <img src="../images/audply_digitalaudioplayersub-mixer.png" alt="" width="445" height="490" class="img-responsive center-block">
              </a>
          </div>
          <div class="col-md-6">
              <h2>Il Sub-Mixer</h2> Per consentire una maggiore versatilit&agrave; nella gestione delle basi musicali multitraccia, &egrave; disponibile un apposito sub-mixer con il quale, distintamente per ogni traccia, regolare:
              <ul>
                  <li> Nome.</li>
                  <li> Mute e solo.</li>
                  <li> Volume e panpot.</li>
                  <li> Uscita audio.</li>
              </ul>
              <p>Con il sub-mixer &egrave; dunque possibile modificare il missaggio di ogni base musicali per adattarlo alle proprie esigenze.
                  <br> Ad esempio, possono essere salvate pi&ugrave; versioni di una stessa base, da utilizzare in base al luogo, al tipo di performance o alla composizione della band.</p>
              <p>L&rsquo;uscita audio assegnabile consente di indirizzate le tracce a uscite hardware individuali o al canale della console di missaggio dedicato al player audio digitale.
                  <br> In questo modo, una o pi&ugrave; tracce posso essere indirizzate, ad esempio, al solo batterista o alla console di missaggio generale (Front Of House).
                  <br> L&rsquo;indirizzamento delle tracce al canale del player consente invece di elaborare le basi musicali con EQ ed effetti VST appropriati (limiter, compressore, reverbero e, addirittura, effetti creativi quali filtri, bit reduction o altro). Questa opzione consente inoltre di applicare al al mix delle tracce il fadeout automatico descritto nelle pagine <a href="as-digitalmixer.html#patcheperformance">Mixer Digitale</a> e <a href="as-livecontrol.html#fadeout">LiveControl</a>.</p>
          </div>
      </div>
  </div>