<div class="container">
      <div class="row">
       <h2>DAW for recording   </h2>
       <div class="col-md-6"> 
        <p>Perfectly  equipped for voices, instruments and MIDI parts recording, AudioStation  can be also used as Digital Audio Workstation for multi-track digital  audio production and recording, and for audio post-production.</p>
        <p>     Actually, AudioStation can also be employed as a Digital Audio Workstation for studio thanks to the integration of a powerful CPU, of many audio and MIDI inputs and  outputs, microphone preamplifiers and an operative system specifically  built and tailored for real-time audio signal processing and compatible  with every audio application written for Windows.</p>
        <p> You  simply install your favourite software, such as Pro Tools, Cubase,  Nuendo, Sonar, Wavelab, Sound Forge, Live or other, with no need for  further external hardware devices and tricky procedures for configuring  and/or optimizing the system.<br>
         Plugins  installed for live performances can be even used with recording or  audio editing software and vice-versa, with no need for reinstall them.</p>
        <p> Dedicated  connectors let to connect keyboard, mouse, one or two video displays  with resolution up to 1920x1200 pixels, and even external USB hard disk of type 1.1, 2.0 and 3.</p>
       </div>
       
       <div class="col-md-6">
      
       <img src="../images/daw_software_{{ include.product }}.png" width="448" height="408" class="img-responsive center-block">

       </div>
       
      </div>
    </div>
