<div class="container">
      <div class="row"> 
       <h2>Mic and Instrument Preamp</h2>
{% if include.product == "asx" %}

       <p>The 4 microphone and instrument preamplifiers built with high quality circuits, and  featuring a gain of more than 60dB, signal and LED clip, independent 48V  phantom power, allow to use both dynamic and condenser type microphones, electric guitars and basses.</p>

{% elsif include.product == "asm"  %}

       <p>The microphone preamplifier built with high quality circuits and 48V phantom power, allows to use both dynamic and condenser type  microphones.</p>
       <p>The high impedance instrument preamp allows you to connect electric guitars and basses.</p>

{% endif %}

      </div>
    </div>
