<div class="container">
    <div class="row">
        <h2>Extended MIDI protocol<br />
       </h2>
        <div class="col-md-6">The Extended MIDI protocol is a unique feature of AudioStation, for easy configuration of master keyboards, foot controllers, and any other type of MIDI controller, to autonomously recall and adjust in real time any automated parameter of VST effects and instruments, for single channels or for the whole console.
            <br>
            <br> The Extended MIDI protocol extends common adjustment options with functionalities not available in other VST hosts, thus permitting new and creative experiences of tactile control which would be impossible to obtain with traditional instruments.
            <p>&nbsp;</p>
            <img src="../images/vstply_selezionedellescene.png" width="325" height="526" alt="Scene selection" class="img-responsive center-block img-spaced">
        </div>
        <div class="col-md-6">
            <p>One or more parameters, even from different plugins, can be easily assigned to the same knob, fader, button or pedal (and vice-versa) and controlled by any of the following MIDI messages:</p>
            <ul>
                <li> Bank MSB and LSB</li>
                <li> Program Change</li>
                <li> RPN and NRPN</li>
                <li> Pitch Bend</li>
                <li> Note On and Off Key, Note On and Off Velocity</li>
                <li> Channel Pressure</li>
                <li> Poly Aftertouch Depth and Poly Aftertouch Key</li>
                <li> Relative 2C, Bin and SB</li>
                <li> Clock, Start, Stop and Continue</li>
                <li> Inverse and Learn Modes</li>
            </ul>
            <img src="../images/vstply_controllodeiparametrivst.png" width="413" height="431" alt="VST parameters control" class="img-responsive center-block img-spaced">
        </div>
    </div>
</div>
