<div class="container">
    <div class="row row-no-bottom">
        <h2>4 plugins per channel &#8212; 76 simultaneous plugins</h2>
        <p>In each channel of the mixer you can plug up to 4 instruments and effects &#8212; for a total of 76 plugins in the whole console &#8212; that can be connected together in series, in parallel or a blend of the two.</p>
        <p> This is a really useful feature. In fact, while software effects are designed to process input signals and to output the result (as with most real effects), software instruments are not made this way; very few are capable of receiving and processing signals from other instruments.
            <br> Hence, a serial connection of plugins doesn&rsquo;t allows you to use more than one software instrument in the same channel of the mixer, although it allows you to use more software effects.</p>
        <p> To overcome these limitations, each channel of the player features four different VST routings:</p>
    </div>
    <div class="row row-no-bottom">

	    <div class="col-xs-12 col-md-6">
	    	<h3>Routing 1</h3>
	    	<img src="../images/vstply_routing1.png" alt="Routing 1" class="img-responsive pull-left" >
	    	<p>You can use it at its best with a software instrument (in VST slot #1) and some effects (in other slots) or to process with software effects a signal from a microphone or an external instrument (guitar, bass, keyboards). The VST slot #4 positioned after the EQ makes it ideal to host a dynamic processor.</p>
	    </div>
	    <div class="col-xs-12 col-md-6">
	    	<h3>Routing 2</h3>
	    	    <img src="../images/vstply_routing2.png" alt="Routing 2" class="img-responsive pull-left" >
	    	<p>This mode provides several options: using two software instruments (VST slots #1 and #2) and two effects (slots #3 and #4); processing a microphone or an external instrument with two effects in parallel and two in series; using in the same channel an external instrument and a software one (slots #1 and #2) and 2 effects in series (slots #3 and #4).</p>
	    </div>
	</div>
	<div class="row">
	    <div class="col-xs-12 col-md-6">
	    	<h3>Routing 3</h3>
	    	<img src="../images/vstply_routing3.png" alt="Routing 2" class="img-responsive pull-left">
	    	<p>Like routing 1, this mode is ideal for using a software instrument (slot #1) and some effects in parallel (slots #3 and #4) and in series (slot #4), or for processing with software effects the audio from a microphone or from an external instrument, or for using in the same channel an external instrument and a software one (slot #2) and three effects in series (slots #1, #3 and #4).</p>
    	</div>
    	<div class="col-xs-12 col-md-6">
	    	<h3>Routing 4</h3>
	    	<img src="../images/vstply_routing4.png" alt="Routing 4" class="img-responsive pull-left" >
	    	<p>This mode allows the use of three software instruments (slots #1, #2 and #3) and one effect (slot #4), or the processing of a mic or external instrument with three effects in parallel (slots #1, #2 and #3) and one in series (slot #4), or to use in the same channel an external instrument and two software instruments (slots #1, #2 and #3) and an effect in series (slot #4).</p>
    	</div>
	</div>
</div>
