<div class="container">
    <div class="row">
        <h2>Super Patches</h2>
        <p>You can use two or more channels of the mixer together to obtain complex combinations of instruments and effects (with more than 4 plugins).
            <br> In the same way you can even connect some master keyboards (or other MIDI controllers) to the same channel of the mixer.
            <br> These settings are available in Global MIDI Routing, another relevant feature of the AudioStation MIDI patch system. It allows you to route a MIDI input to many channels of the mixer, or many MIDI inputs to the same channel.</p>
        <p> Further information is available at the <a href="as-midipatchbay.html#globalmidirouting">MIDI Patchbay</a> page.</p>
        <img src="../images/vstply_superpatches.png" alt="Super patches" width="900" height="398" class="img-responsive center-block img-spaced">
    </div>
</div>
