<div class="container">
    <div class="row">
        <h2>Integral Sync</h2>
        <p>A master tempo generator, with a BPM range between 5 and 240, which ensures syncing between mixing console, plugins and external MIDI devices.
            <br> Each scene can have its proper tempo thus maintaining synced delays, phasers, step sequencers, arpeggiators, drum machines and light machines, the internal player/recorder and any other software connected to the console.</p>
        <p> In addition, a specific function named MIDI Slave allows AudioStation to synchronize with the MIDI Clock and/or MIDI Time Code received from other MIDI devices and/or software.</p>
    </div>
</div>
