<div class="container">
    <div id="toc" class="panel panel-default col-md-6 col-md-offset-6">
        <div class="panel-heading">Table of contents:</div>
        <ul>
            <li> <a href="#vstplayer">VST Player</a></li>
            <li> <a href="#VSTplayernelmixer">VST player in the mixer &#8212; 19 independent VST host</a></li>
            <li> <a href="#quattropluginpercanale">4 plugins per channel &#8212; 76 simultaneous plugins </a></li>
            <li> <a href="#protocollomidiesteso">Extended MIDI protocol</a></li>
            <li> <a href="#totalecontrollovst">Total control over VST instruments</a></li>
            <li> <a href="#superpatches">Super Patches</a></li>
            <li> <a href="#syncintegrale">Integral Sync</a></li>
        </ul>
    </div>
</div>
