<div class="container">
    <div class="row">
        <h2>Total control over VST instruments</h2>
        <div class="col-md-6"><img src="../images/vstply_layeresplit.png" width="428" height="304" alt="Layer e split" class="img-responsive center-block"></div>
        <div class="col-md-6">
            <p>With AudioStation, using software instruments is straightforward: you simply connect one or more MIDI master keyboards, percussive pads, foot controllers and MIDI guitars to AudioStation&rsquo;s MIDI inputs.
                <br>
                <br> The MIDI patchbay integrated in each channel of the mixer allows you to route MIDI input signals to plugins and to program different keyboard mappings, split points, layering, transpositions, dynamic curves and much more.
                <br>
                <br> The picture shows an example of a setup with two different tones, layered on the whole keyboard extension (layer) or assigned to two distinct key zones (split).
                <br>
                <br> Further informations are available at the <a href="as-midipatchbay.html#channelmidirouting">MIDI Patchbay</a> page.</p>
        </div>
    </div>
</div>
