<div class="container">
    <div class="row">
        <h2>VST player in the mixer &#8212; 19 independent VST hosts</h2>
        <div class="col-md-6">
            <a href="../images/zoom/vstply_mixerasconlentesuhostvst_zoom.jpeg" data-rel="lightcase">
                <img src="../images/vstply_mixerasconlentesuhostvst.png" width="348" height="325" alt="Mixer" class="img-responsive center-block">
            </a>
        </div>
        <div class="col-md-6">
            <p>Unlike other similar devices, AudioStation&rsquo;s VST player is integrated within a digital mixer that can handle VST software instruments as well as real instruments and microphones, and apply VST effects.</p>
            <p> Since each channel of the mixer features an independent VST host, with a MIDI patchbay, each musician connected to the console can independently use his own instruments and effects, both software and real ones, and recall his own configurations without interfering with other musicians.</p>
        </div>
    </div>
</div>
