<div class="container">
    <div class="row">
        <h2>VST Player</h2>
        <div class="col-md-6">
            <p>With the VST player your software becomes hardware!</p>
            <p> The player allows you to activate VST instruments and effects, use them immediately with the same ease of use of real devices, and combine them to obtain a vast range of timbres and configurations that can be recalled with a single click.</p>
            <p> You simply install your favourite VST plugins and connect one or more master keyboards, a set of percussive pads, guitars, basses and microphones, to have at your fingertips powerful synthesizers of past and present, organs, acoustic and electric pianos, drums, samplers, sequencers, loopers, guitar and bass amp simulators, dynamic and vocal processors, echo, chorus, reverb, flanger, phaser, distortion effects and many more.</p>
        </div>
        <div class="col-md-6">
            <a href="../images/zoom/vstply_schemausodias_zoom.jpeg" data-rel="lightcase">
                <img name="vstply_schemausodias" src="../images/vstply_schemausodias.png" alt="Schema d'uso del Player VST" border="0" height="281" width="448" class="img-responsive center-block">
            </a>
        </div>
    </div>
</div>
