<div class="container">
    <div class="row">
            <h2>Plugins control</h2>
        <div class="col-md-6">
            <p>At the touch of a button, LiveControl turns into a powerful and versatile control surface for real time adjusting of plugin parameters.</p>
            <p> Each LiveControl knob can be assigned to one or more parameters (even from different plugins) for a given channel of the console, as described in the <a href="as-vstplayer.html#totalecontrollovst">VST Player</a> page. This allows the user to program up to 135 controls per scene!</p>
            <p> Moreover, thanks to the relative increment adjustment mode, the Live Control knobs are always perfectly aligned with the parameters, so you&rsquo;ll never experience annoying value gaps when turning on or off the Control surface mode </p>
        </div>
        <div class="col-md-6">
            <img src="../images/livecn_controllodeiparametrivstconlivecontrol.png" width="288" height="363" class="img-responsive center-block">
        </div>
    </div>
  </div>
