<div class="container">
    <div class="row">
            <h2>Fadeout  </h2>
        <div class="col-md-6">
            <img src="../images/livecn_volumeknobs.png" width="243" height="136" class="img-responsive center-block">
        </div>
        <div class="col-md-6">
            <p>As detailed in the <a href="as-digitalmixer.html#patcheperformance">Digital Mixer</a> page, Audiostation has a useful automatic fadeout function, with programmable length for each setup, applicable to each channel of the console or Master.
                <br> To activate the fadeout simply select the desired channel keeping the Prev/Exit (-) button pressed for about 2 seconds.</p>
        </div>
    </div>
  </div>
