<div class="container">
    <div class="row">
            <h2>Analog feel</h2>
        <div class="col-md-6">
            <img src="../images/livecn_analogfeeling.png" width="250" height="168" class="img-responsive center-block">
        </div>
        <div class="col-md-6">
            <p>For better/easier adjustments, LiveControl knobs respond to rotation speed: when rotated slowly they output variations in discrete steps; when rotation speed increases, variations progressively increase (by 10 or 100 units).</p>
            <p> The high resolution data transmission allows seamless and smooth variations.</p>
            <p> Each adjustment on LiveControl is automatically reflected on the console and viceversa.</p>
        </div>
            <div class="col-sm-12">
                <p>
                The bi-directional communication, the high resolution data transfer protocol, the speed knobs and the direct selection keys give LiveControl a real analog feel.</p>
            </div>
    </div>
  </div>
