<div class="container">
    <div class="row">
        <h2>Selecting Patches and Performances</h2>
        <p>Channel patches and performances (console scenes) can be recalled either via MIDI (as explained in the <a href="as-digitalmixer.html#patcheperformance">Digital Mixer</a> page) or by LiveControl.</p>
        <p> To load a preset in memory, select the desired target channel, then browse the setup list by rotating Data knob, and finally press the knob.
            <br> To load whole console scenes (performance), simply select Master channel.</p>
        <div class="col-md-6">
            <img src="../images/livecn_displaycambiopatch.png" width="448" height="127" class="img-responsive center-block img-spaced">
        </div>
        <div class="col-md-6">
            <img src="../images/livecn_manopoladataepulsantinexteprev.png" width="233" height="127" class="img-responsive center-block img-spaced">
        </div>
        <p>As an alternative, channel selection buttons can be used to enter directly the number of the desired preset, or to scroll to the previous or next preset with dedicated buttons Next (+) and Prev (-).</p>
        <p> While using a combination of instruments and effects, it&rsquo;s possible to choose a new setup and load it in the memory at the right time with just one click.</p>
    </div>
  </div>
