<div class="container">
    <div class="row">
        <h2>LiveControl</h2>
        <p>LiveControl is an integral part of AudioStation that allows remote control during live performances, with no need for monitor, keyboard or mouse.</p>
        <a href="../images/zoom/livecn_livecontrol_zoom.jpeg" data-rel="lightcase">
            <img src="../images/livecn_livecontrol.png" alt="LiveControl" width="665" height="335" class="img-responsive center-block img-spaced">
        </a>
        <p>With LiveControl you can:</p>
        <ul>
            <li> instantly recall a single channel or the whole console settings</li>
            <li> adjust volume, panpot, tones, effects and monitoring levels, mute and solo for each channel</li>
            <li> adjust automated parameters for plugins </li>
            <li> start playback and recording</li>
            <li> Create and edit on-the-fly channel configurations and scenes from scratch.</li>
        </ul>
    </div>
  </div>
