<div class="container">
    <div class="row">
        <h2>MIDI Panic</h2>
        <p>Although the Audiostation is equipped with sophisticated features to prevent the occurrence of  &quot;stuck&quot; notes, as described in the <a href="as-midipatchbay.html#hangingnotes">MIDI Patchbay</a> page, this problem might still happen in the event of a malfunction of the  Master keyboard or MIDI cord.</p>
        <p> In this case, the Audiostation has an advanced global intelligent MIDI Panic function, that acts simultaneously on the software instruments loaded in the console channels and on the external hardware instruments. With a double click on the Master button, all the &lsquo;stuck&rsquo; notes will be immediately turned off without any impact on the execution.</p>
    </div>
  </div>
