<div class="container">
    <div class="row">
        <h2>On-the-fly Setup adjustments</h2>
        <p>A powerful feature of LiveControl is its ability to let you change options on the fly. Thus you can modify the content of patches and performances, and even create new ones.</p>
        <p> Without having to use the screen, keyboard and mouse you can choose plug-ins and related presets, set up the main parametres of the MIDI Patchbay and output audio bus, and then save your modified options.</p>
    </div>
  </div>
