<div class="container">
    <div class="row">
        <h2>Handles like a mixer</h2>
        <p>The use of LiveControl is simple and intuitive, allowing you to use it like a typical digital mixer.</p>
        <div class="col-md-6">
            <p>The buttons of the different channels select which mixer channel to operate on.</p>
            <img src="../images/livecn_pulsantich.png" width="245" height="204" class="img-responsive center-block img-spaced">
        </div>
        <div class="col-md-6">
            <p>Once the channel has been selected, adjustments can be made with Aux 1, 2, 3, 4, Hi, Mid &amp; Low, Panpot and Volume knobs.</p>
            <img src="../images/livecn_manopole.png" width="289" height="204" class="img-responsive center-block img-spaced">
            <p>The display automatically shows the selected mixer channel, the parameter being adjusted and its value.
                <br> The selected channel is also indicated by the blinking light on its button.</p>
        </div>
    </div>
  </div>
