<div class="container">
    <div class="row">
            <h2>Transport buttons</h2>
        <div class="col-md-6">
            <img src="../images/livecn_pulsantiditrasporto.png" width="245" height="84" class="img-responsive center-block">
        </div>
        <div class="col-md-6">
            <p>LiveControl sports a group of buttons for controlling the audio/MIDI player/recorder integrated in the mixing console.</p>
            <p> The same buttons can also be used to adjust the audio/MIDI click and even sequencers, drum and groove machines, either in plugin version or hardware.</p>
        </div>
    </div>
  </div>
