<div class="container">
    <div class="row">
        <h2>Solo and Mute</h2> LiveControl can also control Solo and Mute functions on every console channel.
        <div class="col-md-6">
            <h3>Solo</h3>
            <p>A double click on the channel button enables or disables the Solo function for that channel.</p>
            <img src="../images/livecn_soloch1.png" width="245" height="204" class="img-responsive center-block img-spaced">
            <p>When a channel is soloed, remaining channels are automatically switched off. The Solo state is signalled in the display as well.</p>
        </div>
        <div class="col-md-6">
            <h3>Mute</h3>
            <p>A prolonged pressure on the channel button enables or disables the Mute function for that channel.</p>
            <img src="../images/livecn_mutech1.png" width="245" height="204" class="img-responsive center-block img-spaced">
            <p>When a channel gets muted its button is turned off. The Mute state is also signalled in the display.</p>
        </div>
    </div>
  </div>
