<div class="container">
    <div id="toc" class="panel panel-default col-md-6 col-md-offset-6">
        <div class="panel-heading">Table of contents:</div>
        <ul>
            <li> <a href="#livecontrol">LiveControl</a></li>
            <li> <a href="#operativitamixer">Handles like a mixer</a></li>
            <li> <a href="#feelinganalogico">Analog feel</a></li>
            <li> <a href="#solomute">Solo and mute</a></li>
            <li> <a href="#lcselezionepatchperformance">Selecting Patches and Performances</a></li>
            <li> <a href="#pulsantitrasporto">Transport buttons</a></li>
            <li> <a href="#controlloplugin">Plugins control</a></li>
            <li> <a href="#midipanic">MIDI panic</a></li>
            <li> <a href="#fadeout">Fadeout</a></li>
            <li> <a href="#modificasetup">On-the-fly Setup adjustments</a></li>
        </ul>
    </div>
</div>