<!-- footer Start -->
<a id="back-to-top" href="#top" class="btn btn-danger btn-lg back-to-top" role="button"  data-placement="left" style="z-index: 999;"><span class="glyphicon glyphicon-chevron-up"></span></a>

<!-- fine legacy -->

<footer >

<div class="container">
    <div class="row" style="padding-top: 15px; ">
        <ul class="nav nav-pills social footer-social text-center">
            <li>
                <a class="btn btn-default btn-circle" href="https://www.facebook.com/seelake.audiostation" target="_blank">
                    <i class="fa fa-lg fa-facebook fa-3x"></i>
                </a>
            </li>
            <li>
                <a class="btn btn-default btn-circle" href="https://www.youtube.com/user/SeelakeAudiostation" target="_blank">
                    <i class="fa fa-lg fa-youtube fa-3x"></i>
                </a>
            </li>
            <li>
                <a class="btn btn-default btn-circle" href="https://twitter.com/SeelakeAS" target="_blank">
                    <i class="fa fa-lg fa-twitter fa-3x"></i>
                </a>
            </li>
            <li>
                <a class="btn btn-default btn-circle" href="https://www.instagram.com/audiostation.seelake/" target="_blank">
                    <i class="fa fa-instagram fa-3x"></i>
                </a>
            </li>
        </ul>
    <!-- <div class="col-sm-10">
    </div> -->
      </div>
        <ul class="row nav nav-condensed footer-text-link">
            <li class="col-sm-3"><a href="{{site.baseurl}}/"><i class="fa fa-lg fa-copyright" aria-hidden="true"></i> 2019 SEELAKE</a></li>
            <li class="col-sm-3"><a href="#" id="contactfooter"><i class="fa fa-lg fa-envelope" aria-hidden="true"></i> Contact us!</a></li>
            <li class="col-sm-3">
                <a href="./legal.html" ><i class="fa fa-balance-scale"></i>&nbsp;Copyright &amp; Legal</a>
            </li>
            <li class="col-sm-3">
                <a href="./privacypolicy.html" ><i class="fa fa-user-secret"></i>&nbsp;&nbsp;Privacy Policy</a>
                <!-- <a href="https://www.iubenda.com/privacy-policy/31466102" class="iubenda-black iubenda-embed" title="Privacy Policy">Privacy Policy</a>
                <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script> -->
            </li>
        </ul>
</div>

</footer>

<!-- cookies law -->
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script> -->
<script src="{{ site.baseurl }}/scripts/cookieconsent.min.js"></script>

<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"  crossorigin="anonymous"></script> -->
<script src="{{ site.baseurl }}/scripts/bootstrap.min.js"  crossorigin="anonymous"></script>

<script type="text/javascript" src="{{ site.baseurl }}/scripts/lightcase.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/document-ready.js"></script>

<!-- http://leafo.net/sticky-kit/  sticky element in page -->
<script type="text/javascript" src="{{ site.baseurl }}/scripts/jquery.sticky-kit.min.js"></script>

<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.3/jquery.flexslider-min.js"></script> -->
<script type="text/javascript" src="{{ site.baseurl }}/scripts/jquery.flexslider-min.js"></script>

<script type="text/javascript" src="{{ site.baseurl }}/scripts/picturefill.min.js"></script>
<!-- <script type="text/javascript" src="{{ site.baseurl }}/scripts/readmore.min.js"></script> -->

<!-- <script type="text/javascript" src="{{ site.baseurl }}/scripts/google.analytics.js"></script> -->
