<div class="container">
    <div class="row">
        <h2>Other important channel items </h2>
        <p>In addition to the features described , every console channel has important additional items as follows:
        </p>
        <div class="col-sm-6">
            <h3>Channel-level MIDI patchbay</h3>
            <p>Beyond the possibility to assign to any single mixer channel one or more MIDI Ins/Outs, every channel is equipped with a powerful MIDI patchbay, sporting an advanced routing and processing system, to route streams to plugins as needed.</p>
            <p>Details are available at the <a href="as-midipatchbay.html">MIDI Patchbay</a> page. </p>
        </div>
        <div class="col-sm-6">
            <h3>Real-time plugins control</h3>
            <p>As detailed at the <a href="as-vstplayer.html">VST Player</a> page, and separately for each VST Insert, there is a sophisticated system to control the plugins&rsquo; automated parameters in real-time with any kind of MIDI controller.</p>
            <p>More details are available at the <a href="as-vstplayer.html">VST Player</a> page.</p>
        </div>
    </div>
</div>