<div class="container">
     <div class="row">
      <h2>Channel strip</h2>
      <p>Every channel in the console features these items:</p>
      <div class="col-sm-3">
       <h3 >VST Insert Slots</h3>
       <p >There  are 4 Inserts for VST effects and instruments, that can be connected in  series, in parallel or a combination of both - as explained at the <a href="as-vstplayer.html">VST  Player</a> page.</p>
     <img src="../images/digmix_insertsvst.png" alt="Insert VST" width="85" height="108" class="center-block img-responsive img-spaced">
       <p >It  is remarkable that AudioStation Inserts operate in stereo even with  mono signals.</p>
       <p >Actually, mono signals are split in a way that we named  &ldquo;pseudo-stereo&rdquo;, to apply stereo effects even to mono instruments.</p>
      </div>
      
      <div class="col-sm-3">
       <h3 >Equalizer</h3>
       <p >There  is a 3-band parametric EQ, each band with adjustable: gain (+/-4dB);  frequency (from 20 to 20K Hz); Q-factor; hi-lo shelving and peaking  filter switches. </p>
       <img src="../images/digmix_eq.png" alt="Equalizer" width="85" height="244" class="center-block img-responsive img-spaced">
       <p >There is a 75Hz 12dB/Oct hi-pass filter too, useful to suppress stage noises.</p>
      </div>
      
      <div class="col-sm-3">
       <h3 >Aux Send</h3>
       <p >There are 4 auxiliary sends (Aux), each one sporting a panpot, Pre/Post Fader selector, and Bypass.</p>
       <img src="../images/digmix_auxs.png" alt="AUX sends" width="85" height="219" class="center-block img-responsive img-spaced">
       <p >Thanks to the stereo mode and panpot knob, there are actually 8 separate Aux buses available.</p>
      </div>
      
      <div class="col-sm-3">
       <h3 >Panpot, Volume, Output</h3>
       <p >Each  channel has a panpot; volume, with adjustable automatic fadeout;  selectable channel audio out, that can be routed to master or individual  outs.</p>
       <img src="../images/digmix_volumeandpanpot.png" alt="Panpot, volume and output" width="85" height="208" class="img-responsive center-block img-spaced">
       <p >There is a level indicator, with range adjustable between -48 and -96dB, visualization mode as Peaking or RMS, and LED Clip.</p>
      </div>
      
     </div>
   </div>
