
  <div class="container">
    <div class="row">
     <h2> VST digital mixer</h2>
     <p  >AudioStation&rsquo;s mixer is the very first live mixing digital console with integrated VST technology.</p>
     <p >Unlike other mixers, Audiostation can not only mix signals from microphones  and external instruments, but actually activate and mix in its own  channels your VST software instruments, and effects which can then be  applied to microphones or external and software instruments.</p>
     <img src="../images/digmix_fullmixingconsole.png" alt="Il mixer digitale VST" width="920" height="446" class="img-responsive center-block img-spaced">
     <p >The  type of console configuration is 20/8/2 - in other words 20 input  channels, 4 auxiliary channels and 1 Master stereo channel.</p>
     <p >The  layout and graphical interface are made to resemble a traditional  mixer, which makes operations extremely easy and intuitive, even for  novice users.</p>
    </div>
  </div>
