<div class="container">
    <div class="row">
        <h2>Patches and Performances</h2>
        <p>An important operational aspect of the AudioStation digital mixer is the possibility to independently save each channel&rsquo;s settings (channel patches), channel patch combinations together with general console settings (performances), and their use in live sessions.</p>
        <h3>Patch</h3>
        <p>Just like a synthesizer or an effect unit, any mixer channel (including the Aux ones) holds a good 1000 memory locations to store and instantly recall its settings, including MIDI routing and mapping, and whatever combination of instruments, sounds and effects it uses.</p>
        <p>Along with each patch, plugin preset banks are saved as well. This ensures that patches will work seamlessly even in those cases where some presets are substituted with others.</p>
        <h3>Performance</h3>
        <p>The master channel can hold 1000 memory locations as well, to store and recall its own settings and the global settings. Each memory stores the Master channel settings and the settings for the whole console, in particular:</p>
        <ul>
            <li>
                Master channel parameter settings
            </li>
            <li>
                Global settings for: Tempo; Global MIDI Routing; MIDI Patch Change; MIDI Slave; Fadeouts; some others
            </li>
            <li>
                Mono/Stereo state for Audio/VST channels
            </li>
            <li>
                The audio bus/output that each channel feeds into
            </li>
            <li>
                Channel labels and labels assigned to devices connected to MIDI inputs and outputs
            </li>
            <li>
                The patch number for each of Audio/VST, VST, Player and Aux channels.
            </li>
        </ul>
        <p>This specific operational mode allows, for instance, to set specific performances for each song. When a performance gets loaded, it loads in each mixer channel the patches chosen by every musician, along with global effects, settings for monitoring and any audio track to be played.</p>
        <p>At any time during the performance and in a completely independent way, each musician will be free to load different patches - for example, to perform a solo or other.</p>
        <p>For a better transition between scenes, when a new performance is loaded it replaces only patches different from the ones being used. This way, channels that don&rsquo;t need changes will continue to work seamlessly.</p>
        <h3>Preload</h3>
        <p>The preload function reduces patch loading times to zero. It is most useful with very complex setups or with the so-called Sample Player plugins, that use libraries of very large audio samples. While a patch is being used, another one can be loaded in memory and then activated at the right time, without delays.</p>
    </div>
</div>
