<div class="container">
  <div class="row">
   <h2 >Selecting Patches and Performances</h2>
   <p >Patches  and performance can be comfortably selected with LiveControl (the handy  remote controller included in AudioStation) or via MIDI.</p>
   
    <h3>Selection with LiveControl</h3>
   <div class="col-md-6">
    <p >With LiveControl it is extremely easy to recall performances and channel patches.</p>
    <p >Selection  is made easier by two buttons, Prev and Next, which directly recall the  previous and next setup.</p>
    <p > The desired setup is chosen by means of those  buttons and the Data knob - even when another one is in use - and loaded  at the right time with a simple click.</p>
    <p >For further details please read the <a href="as-livecontrol.html">Live Control</a> page.</p>
   </div>
   <div class="col-md-6">
     <a href="../images/zoom/livecn_livecontrol_zoom.jpeg" data-rel="lightcase" >
       <img src="../images/digmix_livecontrol.png" alt="LiveControl" class="center-block img-responsive">
     </a>
   </div>
    </div>
</div>

