<div class="container">
 <div class="row no-background">
    <h3 >Selection via MIDI</h3>
   <div class="col-md-6">
    <p >Any  musician connected to the console can change patches for his channels  and performances with his own master keyboard, a foot controller or any  other kind of MIDI controller.</p>
    <p >Like  in a synthesizer or an effect unit, every channel of the AudioStation  mixer responds to Program Change and Bank Change MIDI messages. A single  program change or a combination of bank and program change determines  which patch or performance to recall, and the MIDI channel 1-16 determines which mixer channel will be targeted.</p>
    <p >Hence,  independently from global and channel MIDI routing settings,  performances and channel patches can be changed from any available MIDI input.</p>
    <p >Moreover,  when two or more channels are used together to create a more complex  setup, they can be grouped together and recall their patches with a  single command.</p>
   </div>
   
   <div class="col-md-6">
    <img src="../images/digmix_midipatchchange.png" width="445" height="226" alt="Channel's MIDI Patchbay" class="center-block img-responsive">
   </div>
   
  </div>
  </div>
