<div class="container">
     <div class="row">
      <h2 >Channel types</h2>
      <p >The console features 6 different types of channel:</p>
      <div class="col-md-6">
       <h3 >Audio/VST Channels</h3>
       <p >These  are monophonic channels that can be used to mix microphones signals and  external instruments connected to analog inputs 1-8, and/or software  instruments enabled in VST inserts. These inserts can  hold software effects as well for processing signals from external devices and software  instruments.</p>
       <p >If necessary these channels can be coupled in stereo mode.</p>
     
       <h3 >VST Channels</h3>
       <p >These  are stereo channels dedicated to VST instruments - hence they don&rsquo;t  feature audio inputs.  Software effects can be activated in the  channels&rsquo; Inserts, to process signals from software instruments.</p>
       <h3 >Player Channel</h3>
       <p >This  stereo channel is fed by the digital audio player integrated in the  console. As with the other channels, audio signals can be processed by  software effects activated in its VST Inserts. It is also possible to  activate VST instruments in these inserts.</p>
      </div>
      
      <div class="col-md-6">
       <h3 >Aux Channel </h3>
       <p >These four stereo channels receive signals sent from each Audio/VST, VST and Player channel via auxiliary  sends 1-4 (and their panpots). These can be used to activate software  effects in common with any channel, or for custom channel monitoring. It  is also possible to activate VST instruments in these these channels&rsquo;  inserts.</p>
       <h3 > Master channel
       </h3>
       <p >Usually this channel receives signals from every console's channel, and is used for global adjustments. In its Insert  Slots are activated software effects to be applied to signals mix, and, when needed, VST instruments can be activated too.</p>
      </div>
      
     </div>
   </div>
