<div class="container">
  <div id="toc" class="panel panel-default col-md-6 col-md-offset-6">
   <div class="panel-heading">Table of contents:</div>
    <ul>
  
      <li> <a href="#ilmixerdigitale"> VST digital mixer</a></li>
      <li> <a href="#tipologiedicanali">Channel types</a></li>
      <li> <a href="#configurazionedicanale">Channel strip</a></li>
      <li> <a href="#altriimportantidispositivi">Other important channel items</a></li>
      <li> <a href="#patcheperformance">Patches and Performances</a></li>
      <li> <a href="#selezionedipatcheperformance">Selecting Patches and Performances</a></li>
      <li> <a href="#selezioneviamidi">Selecting via MIDI</a></li>
    </ul> 
  </div>
</div>