<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="hardware VST host, live vst, digital mixer, multitrack recorder, multitrack player, patchbay, studio outboard, sound expander, pa" />
<meta name="description" content="homepage of the hardware VST host mixer AudioStation" />
<script type="text/javascript" src="scripts/jquery.min.js"></script>
<!--<meta http-equiv="REFRESH" content="0; url=en/as-overview.html">-->
<title>Seelake, maker of AudioStation hardware VST Host Mixer</title>
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="shortcut icon" href="/favicon.ico" />
<script>
  window.location = '{{ site.url }}' + '{{ site.baseurl }}' + '/en/allproducts.html'

</script>

 

</head>

<body>
Redirecting to <a href="/en/allproducts.html">this URL</a>


<script type="text/javascript">
  // fix IE bug where hash anchors don't update scrolltop on some occasions
  if (window.location.hash)
  window.location = window.location.hash;
</script>
</body>
</html>